<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Negocio.Properties.Settings.tablaprueba1ConnectionString"
            connectionString="Data Source=DESKTOP-LKM28N4;Initial Catalog=tablaprueba1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Negocio.Properties.Settings.tablaprueba1ConnectionString1"
            connectionString="Data Source=desktop-597bori;Initial Catalog=tablaprueba1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>